



/* This is my first proper css file */

body{
    background-color: rgb(83, 71, 255);
}

h1,h2,p{
   text-align: center;
  
  }

h1, h3, p, label{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.grid_items {
    padding: 2px;
    display: grid;
    grid-template-columns: 100%;
    max-width: 800px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 5px;
    grid-row-gap: 20px;
  }
  .grid_items > div {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 360px;
    margin:auto;
  }
  .grid_items > div:nth-child(3n + 2) {
    background-color: #ffffff;
  }
  .grid_items > div:nth-child(3n) {
    background-color: #ffffff;
  }
  
  
  
  /* One column*/
  @media only screen and (min-width: 250px) {
    .grid_items {
      grid-template-columns: 100%;
      max-width: 420px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center;
    }
  
    .wrap {
      grid-template-columns: 100%;
      max-width: 360px; 
      margin: 0 auto 0 auto !important;
        padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center;
    }
    .grid_items > div {
      padding: 10px;
    }
    .rubric {
      text-align: left;
    }
  
  
  }
  
 
  
  
  
  
  
